

x-common-env: &common-env
  build:
    context: .
    dockerfile: Dockerfile
    args:
      MY_UID: ${MY_UID:-1001}
      MY_GID: ${MY_GID:-1001}
  volumes:
    - .:/app
    - /app/node_modules
    - ./wait-for-it.sh:/app/wait-for-it.sh # Ensure wait-for-it.sh is in the root
  user: root
  environment:
    - FORCE_COLOR=3
    - TZ=America/Sao_Paulo
  networks:
    - default

services:
  api-auth-development:
    <<: *common-env
    container_name: api-auth-development
    profiles: ["development"]
    ports:
      - "9301:9300"
    env_file:
      - .env.dev
    environment:
      - NODE_ENV=development
      - MYSQL_HOST=mysql
    depends_on:
      - mysql

  api-auth-local:
    <<: *common-env
    container_name: api-auth-local
    profiles: ["local"]
    ports:
      - "9300:9300"
    env_file:
      - .env.local
    environment:
      - NODE_ENV=development
      - MYSQL_HOST=mysql
    depends_on:
      - mysql

  api-auth-homologation:
    <<: *common-env
    container_name: api-auth-homologation
    profiles: ["homologation"]
    ports:
      - "9302:9300"
    env_file:
      - .env.homolog
    environment:
      - NODE_ENV=production
    networks:
      - coolify
      - default

  api-auth-test:
    <<: *common-env
    container_name: api-auth-test
    profiles: ["test"]
    ports:
      - "9303:9300"
    env_file:
      - .env.test
    environment:
      - NODE_ENV=test
    networks:
      - coolify
      - default

  api-auth-production:
    <<: *common-env
    container_name: api-auth-production
    profiles: ["production"]
    ports:
      - "9304:9300"
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
    networks:
      - coolify
      - default

  mysql:
    image: mysql:8
    container_name: mysql
    profiles: ["development", "local"]
    environment:
      MYSQL_ROOT_PASSWORD: 12345
      MYSQL_DATABASE: gigantao_auth_notify_dev
      TZ: America/Sao_Paulo
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - default

networks:
  default:
    driver: bridge
  coolify:
    external: true

volumes:
  mysql_data: