services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MY_UID: ${MY_UID:-1001}
        MY_GID: ${MY_GID:-1001}
    ports:
      - "0.0.0.0:3101:3101" # Assuming the app runs on port 3101 for local
    user: root
    env_file:
      - .env.local
    environment:
      - NODE_ENV=local
      - FORCE_COLOR=3
      - TZ=America/Sao_Paulo
    networks:
      - default
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    ports:
      - "0.0.0.0:3306:3306"
    env_file:
      - .env.local
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-root_password}
      MYSQL_DATABASE: ${MYSQL_DATABASE_LOCAL:-default}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - default

networks:
  default:
    driver: bridge

volumes:
  mysql_data: